# Microtrac S3500 Particle Size Analyzer
This notebook shows how to read all the information from the data file exported by the Microtrac S3500 Particle Size Analyzer software using the class ``MicrotracS3500``

In [1]:
# Import Libraries
from microtrac_s3500 import MicrotracS3500

In [2]:
microtracs3500_data_filename = "MTData_25_6_2021_11_24_7.csv"

In [3]:
mt = MicrotracS3500(microtracs3500_data_filename)

## Title and Sample Information

In [4]:
mt.title

' Particle  Size  Analysis '

In [5]:
mt.id_1

' id_1 '

In [6]:
mt.id_2

' id_2 '

In [7]:
mt.date

'6/25/2021'

In [8]:
mt.db_rec

'1030'

In [9]:
mt.db_name

' C:\\Microtrac\\FLEX  11.1.0.8\\Databases\\Data.MDB '

## Get Percentiles

In [10]:
mt.df_percentiles

  %Tile Size(um)
1    10     4.39
2    20     6.72
3    30     9.17
4    40    12.12
5    50    15.94
6    60     21.4
7    70    30.31
8    80    46.53
9    90    77.44

## Get Particle Size Distribution
Returns a pandas dataframe

In [11]:
mt.psd

   Size(um)  %Chan  %  Pass
1        60    3.7     85.22
2        50   2.24     81.52
3        45   0.48     79.28
4        44   2.12      78.8
5        40   6.94     76.68
6        30      5     69.74
7        25   6.91     64.74
8        20  10.03     57.83
9        15   8.14     47.79
10       12   6.59     39.65
11       10   7.69     33.07
12        8   8.51     25.37
13        6   4.28     16.86
14        5   4.13     12.58
15        4   3.72      8.45
16        3   3.05      4.73
17        2   1.13      1.68
18      1.5   0.55      0.55
19        1      0         0